body {
  font-family: "San Fransisco Pro", "Lato" !important;
  background-color: transparent;
}
.card {
  margin: 1.5rem;
}

img {
  width: calc(100vw - 400px) !important;
}

.main {
  width: calc(100% - 16.5rem);
  margin-left: 16.5rem;
  margin-right: 0;
  overflow-x: hidden;
}

.sidebar {
  width: 15rem;
  position: fixed;
  height: calc(100vh - 3rem);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.sidebar a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Treasure Hunt*/

#table {
  display: none;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 30px;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  border-radius: 20px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  position: absolute;
  right: 40px;
  top: 30px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#treasure {
  text-align: center;
}

button {
  padding: 20px;
  background-color: green;
  border-radius: 20px;
}

.hi,
.button {
  font-size: xx-large;
  color: gold;
}

.btn-purple {
  background-color: #6f42c1;
}

.btn-green {
  background-color: green;
}

h1 {
  font-size: 60px;
  color: gold;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: gold;
}

.red {
  color: red;
}

.purple {
  color: #6f42c1;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  margin: auto;
}

.circle button {
  height: 50px;
  width: 50px;
  color: white;
}

.play {
  display: none;
}

#holiday .card {
  height: calc(100vh - 3rem);
}

input {
  background-color: #303030;
  border: 0;
  color: #fff;
  text-align: center;
  width: calc(100vw - 512px);
}

#screenshot {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: #303030;
}
#screenshot button {
  margin: 0.5rem;
}
#screenshot #screenshot-output {
  display: none;
}

.primary {
  color: #375a7f;
}

.success {
  color: #00bc8c;
}

.danger {
  color: #e74c3c;
}

.warning {
  color: #f39c12;
}

.border-purple{border-color:#6f42c1!important;}

/* @media */

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  #treasure {
    display: block !important;
  }
  #rayyansaidi {
    display: block !important;
  }
  #holiday {
    display: none !important;
  }
  img {
    margin: 0 auto;
  }
  .main {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  h1 {
    font-size: 3rem !important;
  }
  ol,
  ul {
    text-align: start;
    margin: 0 auto;
  }
  body {
    text-align: center;
  }
  #screenshot {
    display: none!important;
  }
}